<!DOCTYPE html>
<html>
  <head>
   <TITLE>Outdoor Industry News and Links</TITLE>
   <META NAME="Description" CONTENT="Cool stuff going on in the outdoor industry. All in one place.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
  </head>
  <body>
    <div class="site-wrapper">
      <div class="nav">
        <div class="nav-pad">
          <h1><a href="/">Outdoor Recreation Industry Links and Stuff</a></h1>
          <div class="nav-links">
          <ul>
            <li><%= link_to "About", '/about' %></li>
            <li><%= link_to "Submit a Link", 'https://goo.gl/forms/DmPXx4iRKr7u7pzi1' %></li>
            </ul>
            </div>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
